<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="Description" CONTENT="vaccum, home robot, personal assistant">
    <meta name="keywords" content="vaccum, homebot, personal assistant">
    <meta name="author" content="Omri Rozenzaft, Itai Meyouhas">
    <title> vacuum </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/static/images/logo.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
          crossorigin="anonymous">


    <script src="/static/javascripts/main.js"></script>
    <!--<script src="/javascripts/main.js"></script>-->

    <link rel='stylesheet' href='/static/stylesheets/style.css' />
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> vacuum
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">...</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Video -->
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="embed-responsive embed-responsive-16by9">
        <video width="1280" height="720" src="video.mov" controls webkit-playsinline playsinline></video>
      </div>
    </div>
  </div>
</div> -->
<div class="jumbotron">
    <h1 class="display-4 text-center">Live Stream Here</h1>
</div>

<!-- Arrows -->
<div class="container mt-4">
    <div class="d-flex justify-content-center mt-2">
        <button type="button" class="btn btn-dark" id="forward">
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <button type="button" class="btn btn-dark mr-2" id="left">
            <i class="fas fa-arrow-left"></i>
        </button>
        <button type="button" class="btn btn-dark mr-2" id="stop">
            <i class="fas fa-hand-paper"></i>
        </button>
        <button type="button" class="btn btn-dark" id="right">
            <i class="fas fa-arrow-right"></i>
        </button>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <button type="button" class="btn btn-dark" id="back">
            <i class="fas fa-arrow-down"></i>
        </button>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <button type="button" class="btn btn-dark mr-3" id="rotate_left">
            <i class="fas fa-undo-alt"></i>
        </button>
        <button type="button" class="btn btn-dark" id="rotate_right">
            <i class="fas fa-redo-alt"></i>
        </button>
    </div>
</div>



<div class="container d-flex justify-content-center mt-5">
    <button type="button" class="btn btn-success mr-3" id="turn_on">Turn on vacuum</button>
    <button type="button" class="btn btn-danger" id="turn_off">Turn off vacuum</button>
</div>

<div class="container d-flex justify-content-center mt-5" id="log_box">

</div>
</body>


</html>